body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.red{
    color: red;
}

.makeBigger {
    font-size: 120%;
}
.center{
    text-align: center;
}
.CenterGothic{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}